*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.svn
.idea
.DS_Store
/build
wecarmusic.iml
*.iml
# libwecarcommon
# libcommonui
# libwecarplatform
captures
gradle
gradle.properties
gradlew
gradlew.bat